<footer class="footer pt-5 mt-5">
  <hr class="horizontal dark mb-5">
  <div class="container">
    <div class=" row">
      <div class="col-12">
        <div class="text-center">
          <h6 class="text-gradient text-primary font-weight-bolder">It Company Task Manager</h6>
          <p class="my-4 text-sm">
            It Company Task Manager by &copy; <a target="_blank" href="#" target="_blank">Mayor</a>
            - Coded by <a target="_blank" href="#" target="_blank">Mayor</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>

