{% extends "base.html" %}


{% block content %}
  {% if task_list %}
    <a href="{% url "task_manager:task-create" %}" class="btn btn-primary" style="float: right">
      Create
    </a>
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Task type</th>
        <th>Deadline</th>
        <th>Is Completed</th>
      </tr>
      {% for task in task_list %}
        <tr>
          <td>{{ task.id }}</td>
          <td><a href="{% url "task_manager:task-detail" pk=task.id %}">{{ task.name }}</a></td>
          <td>{{ task.description }}</td>
          <td>{{ task.task_type }}</td>
          <td>{{ task.deadline }}</td>
          <td>{{ task.is_completed }}</td>
          <td>
            <a href="{% url "task_manager:toggle_status" pk=task.id %}" class="btn btn-success">
              {{ task.is_completed|yesno:"Not complete, Complete" }}
            </a>
          </td>
        </tr>
      {% endfor %}
    </table>
    {% include "includes/pagination.html" %}
  {% else %}
    There are no tasks
  {% endif %}
{% endblock %}
