{% extends "base.html" %}


{% block content %}
  <table class="table">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Completed</th>
      <th>Deadline</th>
      <th>Priority</th>
    </tr>
    <tr>
      <td>{{ task.id }}</td>
      <td>{{ task.name }}</td>
      <td>{{ task.description }}</td>
      <td>{{ task.is_completed }}</td>
      <td>{{ task.deadline }}</td>
      <td>{{ task.priority }}</td>
    </tr>
  </table>
  <h3>Work on this task:</h3>
  {% for worker in task.assignees.all %}
    <ul>
      <li>{{ worker.username }}</li>
      <li>{{ worker.first_name }}</li>
      <li>{{ worker.last_name }}</li>
      <li>{{ worker.position }}</li>
    </ul>
    <hr>
  {% endfor %}
{% endblock %}
