{% extends "base-presentation.html" %}
{% load crispy_forms_filters %}


{% block content %}
  <div class="m-lg-2">
  <h1 class="mt-7 text-center">{{ object|yesno:"Update, Create" }} task :</h1>
    <form action="" method="post" novalidate>
      {% csrf_token %}
      {{ form|crispy }}
      {% if object %}
        <input type="submit" value="Submit" class="btn btn-primary">
      {% else %}
        {% include "includes/submit_btn.html" %}
      {% endif %}
      <a href="{% url "task_manager:task-list" %}" class="btn btn-secondary">
        Return
      </a>
    </form>
  </div>
{% endblock %}
