{% extends "base.html" %}


{% block content %}
  <table class="table">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Completed</th>
      <th>Deadline</th>
      <th>Priority</th>
    </tr>
    <tr>
      <td>{{ task.id }}</td>
      <td>{{ task.name }}</td>
      <td>{{ task.description }}</td>
      <td>{{ task.is_completed }}</td>
      <td>{{ task.deadline }}</td>
      <td>{{ task.priority }}</td>
    </tr>
  </table>
  <a href="{% url "task_manager:task-update" pk=task.id %}" class="btn btn-primary" style="float: right">
    Update
  </a>
  <a href="{% url "task_manager:toggle_status" pk=task.id %}" class="btn btn-success">
    {{ task.is_completed|yesno:"Not complete, Complete" }}
  </a>
  <a href="{% url "task_manager:task-delete" pk=task.id %}" class="btn btn-danger">
    Delete
  </a>
  <h3>Work on this task:</h3>
  {% for worker in task.assignees.all %}
    <ul>
      <li><strong>Username: </strong>{{ worker.username }}</li>
      <li><strong>First name: </strong>{{ worker.first_name }}</li>
      <li><strong>Last name: </strong>{{ worker.last_name }}</li>
      <li><strong>Position: </strong>{{ worker.position }}</li>
    </ul>
    <hr>
  {% endfor %}
  <a href="{% url "task_manager:task-list" %}" class="btn btn-secondary">Return</a>
{% endblock %}
