{% extends "base-presentation.html" %}


{% block content %}
  <div class="mt-7">
    <a href="{% url "task_manager:worker-delete" pk=worker.id %}" class="btn btn-danger" style="float: right">
      Delete
    </a>
    <a href="{% url "task_manager:worker-update" pk=worker.id %}" class="btn btn-primary" style="float: right">
      Update Position
    </a>
  </div>
  <table class="table align-items-center mt-7">
    <tr>
      <td><strong>Username: </strong>{{ worker.username }}</td>
      <td><strong>First name: </strong>{{ worker.first_name }}</td>
      <td><strong>Last name: </strong>{{ worker.last_name }}</td>
      <td><strong>Position: </strong>{{ worker.position }}</td>
      <td><strong>Admin: </strong>{{ worker.is_superuser }}</td>
    </tr>
  </table>
  <h3>All tasks:</h3>
  <hr>
  {% for task in worker.tasks.all %}
    <h4><strong>Task name: </strong><a href="{% url "task_manager:task-detail" pk=task.id %}">{{ task.name }}</a></h4>
    <h4><strong>Task description: </strong>{{ task.description }}</h4>
    <h4><strong>Task completed: </strong>{{ task.is_completed }}</h4><br>
    <hr>
  {% endfor %}
  <a href="{% url "task_manager:worker-list" %}" class="btn btn-secondary">
    Return
  </a>
{% endblock %}
