{% extends "base.html" %}


{% block content %}
  <a href="{% url "task_manager:worker-delete" pk=worker.id %}" class="btn btn-danger">
  Delete
  </a>
  <a href="{% url "task_manager:worker-update" pk=worker.id %}" class="btn btn-primary">
    Update Position
  </a>
  <p><strong>Username: </strong>{{ worker.username }}</p>
  <p><strong>First name: </strong>{{ worker.first_name }}</p>
  <p><strong>Last name: </strong>{{ worker.last_name }}</p>
  <p><strong>Position: </strong>{{ worker.position }}</p>
  <p><strong>Admin: </strong>{{ worker.is_superuser }}</p>
  <h3>All tasks:</h3>
  <hr>
  {% for task in worker.tasks.all %}
    <h4><strong>Task name: </strong><a href="{% url "task_manager:task-detail" pk=task.id %}">{{ task.name }}</a></h4>
    <h4><strong>Task description: </strong>{{ task.description }}</h4>
    <h4><strong>Task completed: </strong>{{ task.is_completed }}</h4><br>
    <hr>
  {% endfor %}
  <a href="{% url "task_manager:worker-list" %}" class="btn btn-secondary">
    Return
  </a>
{% endblock %}
